<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- Servlet 등록 (매핑?)-->
    <servlet>
        <servlet-name>xmlmapping</servlet-name>
        <!--  -->
        <servlet-class>com.ohgiraffers.chap01_lifecyclelecturesource.section01.xml.LifeCycleTest</servlet-class>
        <!-- 순위 지정 -->
        <load-on-startup>2</load-on-startup>
    </servlet>
    <!-- Servlet Mapping -->
    <servlet-mapping>
        <!-- 위에 등록된 이름을 물어보는것 -->
        <servlet-name>xmlmapping</servlet-name>
        <!-- /xml-lifecycle 요청이 오면 위에 xmlmapping에 매핑시키겠습니다. -->
        <url-pattern>/xml-lifecycle</url-pattern>
    </servlet-mapping>
</web-app>